<!DOCTYPE html>
<html>
<head>
  <title><%= fullTitle(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<div class='wrapper'>
<%= render 'layouts/menubar' %>
<%= yield %>
<%#<%= debug(params) if Rails.env.development? %>
</div>

</body>
</html>
